/*version 1.0.2*/
/*Styles for Input text, checkbox and radio buttons*/

@import "../theme-light.scss";

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select {
    margin-top: 0;
    margin-bottom: 0;
}

.input-label {
    font-size: 0.87rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-bottom: 4px;
    color: $altForegroundPrimaryRestColor;
}

h3.input-label {
    font-size: 1rem;
    margin-bottom:8px;
}

/*Textbox styles*/
.win-textarea, .win-textbox {
    height: $heightForWinControls;
    border-radius: 3px;
    background: $foregroundAltWhiteColor;
    border: 1px solid rgba(0,0,0,0.0578);
    box-shadow: 0px 1px 0px rgba(0,0,0,0.48);

    &:hover {
        background: #F9F9F9;
        border: 1px solid rgba(0,0,0,0.0578);
    }

    &:focus, &:active {
        background: $foregroundWhiteColor;
        box-shadow: 0px 2px 0px $altFillAccentRestColor;
    }

    &::-ms-reveal {
        background: $altFillTransparentRestColor;
        color: $outlineFocusColor;
        margin-right: -4px;
        margin-top:-4px;
    }

    &::-ms-reveal:checked {
        background: $altForegroundAccentRestColor;
        color: $foregroundWhiteColor;
        border-radius: 4px;
    }
}

.nameFields > .input-row {
    display: flex;
}

.nameFields > .input-row > .input-field:first-child {
    margin-right: 14px;
}

.template-input {
    margin-bottom: 20px;
}

.template-input.inputType_checkbox {
    display: flex;
}

.template-input .input-container.input-row {
    justify-content: space-between;
}

.template-input .input-container.input-row .input-field {
    flex: 1;
}

.template-input.inputType_checkbox input + label {
    display: block;
}

.template-input > .input-container > .input-field {
    background: $foregroundAltWhiteColor;
    border: 1px solid $altFillNeutralPressColor;
    padding: 8px 8px 10px 10px;
    width: 100%;
    border-radius: 3px;
}

/* checkbox styles*/
input[type='checkbox'], input[type='radio'] {
    margin-top: 0px;
    margin-bottom: 0px;
    flex-shrink: 0;
}

html[focus-visible="false"] .win-checkbox:focus, html[focus-visible="false"] .inputType_checkbox > .win-checkbox:focus {
    box-shadow:none;
}

.win-checkbox::-ms-check {
    background-color: transparent;
    border: 1px solid $altFillContrastNeutralPressColor;
    border-radius: 2px;
}

.inputType_checkbox > .win-checkbox:checked::-ms-check {
    background-color: $altForegroundAccentRestColor;
}

.win-checkbox:hover::-ms-check {
    border: 1px solid $altFillContrastNeutralPressColor;
}

/*
Long term fix: http://osgvsowi/53279490 - Add .scss support or one-time compile into common.css
Short term fix: Explicitly setting $foregroundWhiteColor to #FFF & outlineFocusColor to #000
*/
.win-checkbox:focus, .inputType_checkbox > .win-checkbox:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px #FFF, 0px 0px 0px 3px #000;
    border-radius: 1px;
}

@media (-ms-high-contrast) {
    .win-checkbox:focus {
        background-color: HighlightText;
        box-shadow: 0px 0px 0px 2px highlight;
    }
}
