<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="ClientHealth" switchValue="Information">
        <listeners>
          <clear/>
          <add name="ClientHealthTrace" type="Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon.LogTraceListener, Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon" initializeData="ClientHealth.log"/>
        </listeners>
      </source>
      <source name="IntuneManagementExtension" switchValue="Information">
        <listeners>
          <add name="SCClientFileTrace" type="Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon.LogTraceListener, Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon" initializeData="ClientHealth.log"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
