<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="ImeUI" switchValue="Information" >
        <listeners>
          <add name="ImeUITrace" type="Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon.LogTraceListener, Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon" initializeData="ImeUI.log"/>
        </listeners>
      </source>
      <source name="IntuneManagementExtension" switchValue="Information">
        <listeners>
          <add name="SCClientFileTrace" type="Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon.LogTraceListener, Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon" initializeData="IntuneManagementExtension.log"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
