<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="recycleScripts" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EnableRotateBitLockerKeys" value="false" />
    <add key="EnableDeleteBitLockerKeys" value="false" />
    <add key="MaxTotalKeysAllowedToDelete" value="8" />
    <add key="EnableDeviceAction" value="true" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="AppActionProcessor" switchValue="Information">
        <listeners>
          <add name="AppActionProcessorTrace" type="Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon.LogTraceListener, Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon" initializeData="AppActionProcessor.log" />
        </listeners>
      </source>
      <source name="AppWorkload" switchValue="Information">
        <listeners>
          <add name="AppWorkloadTrace" type="Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon.LogTraceListener, Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon" initializeData="AppWorkload.log" />
        </listeners>
      </source>
      <source name="DataCollection" switchValue="Information">
        <listeners>
          <add name="DataCollectionTrace" type="Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon.LogTraceListener, Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon" initializeData="DeviceHealthMonitoring.log" />
        </listeners>
      </source>
      <source name="IntuneManagementExtension" switchValue="Information">
        <listeners>
          <add name="SCClientFileTrace" type="Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon.LogTraceListener, Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon" initializeData="IntuneManagementExtension.log" />
        </listeners>
      </source>
      <source name="HealthScripts" switchValue="Information">
        <listeners>
          <add name="HealthScriptTrace" type="Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon.LogTraceListener, Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon" initializeData="HealthScripts.log" />
        </listeners>
      </source>
      <source name="Win32AppInventory" switchValue="Information">
        <listeners>
          <add name="Win32AppInventoryTrace" type="Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon.LogTraceListener, Microsoft.Management.Services.IntuneWindowsAgent.AgentCommon" initializeData="Win32AppInventory.log" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>