.icon-shield-task:before {
    content: "\F760";
    height: 24px;
    width: 24px;
    font-size: 24px;
}

.icon-laptop-secure:before {
    content: "\F552";
    height: 24px;
    width: 24px;
    font-size: 24px;
}

.icon-dynamic-lock:before {
    content: "\F439";
    height: 24px;
    width: 24px;
    font-size: 24px;
}

.value-messaging-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    pointer-events: none;
    width: inherit;
    margin-top: 16px;
}

.value-messaging-item-icon {
    flex: 0 0 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

.value-messaging-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.value-messaging-item-title {
    font-weight: 600;
    font-size: 14px;
}

.value-messaging-item-content {
    font-weight:400;
    font-size: 14px;
    opacity: 0.7;
}

.body-container .container-content .content-box {
    margin-top: 0px !important;
}